@font-face {
    font-family: xkcd;
    src: url(xkcd-script.ttf);
}

html {
  font-family: xkcd;
}

* {
  color: white;
  background-color: black;
  width: calc(96%);
  margin: calc(2%);
}

figure {
  background-color: DimGrey;
  text-align: center;
  display: block;
}
h1 {
  margin: calc(0.5%);
}

h2{
  margin-bottom: 0px;
}

time {
  margin: calc(0%);
  padding: calc(0%) calc(1%);
}

p{
  margin-top: 0px;
  text-align: left;
}

article {
  padding: calc(1%);
  background-color: DimGrey;
}

article ol, article ul, article li, article a, article h2, article, article p, article h1, article time {
  background-color: DimGrey;
}

article ol, article ul {
  width: calc(94%);
}

